* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
}

header .left {
    font-size: 24px;
    font-weight: bold;
}

header .right a {
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
}

.left img {
    width: 150px;
}

.back {
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    background-image: url('images/maniadevc.jpg'); /* Substitua pela sua imagem */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem no centro */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-int {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona uma sobreposição preta semi-transparente */

}
.title-section {
    text-align: center;
}
.title-section h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px #999;
}

.carousel-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel {
    width: 350px;
    height: 380px;
    overflow-x: hidden; /* Evita o scroll horizontal */
}

.carousel {
    display: flex;
    scroll-behavior: smooth;
}

.carousel .card {
    width: 300px;
    height: 350px;
    background-color: white;
    box-shadow: 10px 10px 10px #ccc;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 2%;
    overflow-x: hidden;
    font-size: 15px;
    border-radius: 10px;
    word-wrap: break-word; /* Quebra automaticamente palavras muito longas */
    word-break: break-word; /* Quebra se a palavra for longa demais */
    flex-shrink: 0; /* Garante que o card não encolha */
}

.card img {
    width: 100px;
    margin-left: 35%;
}

.carousel-section button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#prev {
    left: 15%;
    top: 110%;
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

#next {
    right: 10%;
    top: 110%;
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.info {
    width: 200px;
}

.links-section {
    margin: 40px 0;
    
}

.links-section h2 {
    margin-bottom: 20px;
    text-align: center;
    margin: 5%;
}


.links {
    display: flex;
    gap: 20px; /* Espaçamento entre os itens */
    flex-wrap: nowrap; /* Garante que todos os itens fiquem em uma linha */
    overflow-x: auto;
    margin: 10px;
}

.links a {
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    flex-shrink: 0; /* Impede que as bolinhas encolham */
}

.links::-webkit-scrollbar {
    height: 6px; /* Ajuste a altura do scrollbar para ser pequeno */
}

.links::-webkit-scrollbar-thumb {
    background-color: #007BFF; /* Cor do "polegar" do scroll */
    border-radius: 3px;
}
.align {
    text-align: center;
}
.buble {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    border-radius: 50%;
    background-image: url('images/Google_Contacts_logo.png');
    background-size: cover;
    background-position: center;
}
.b {
    background-image: url('images/bruna.jpg');
    background-size: cover;
    background-position: center;
}
.a {
    background-image: url('images/aguinaldo.jpg');
    background-size: cover;
    background-position: center;
}
.j {
    background-image: url('images/jose.jpg');
    background-size: cover;
    background-position: center;
}
.c {
    background-image: url('images/eu.jpg');
    background-size: cover;
    background-position: center;
}
.g {
    background-image: url('images/gabi.jpg');
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    min-height: 100px; /* Define uma altura mínima para o rodapé */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; /* Impede o encolhimento do rodapé */
}

footer .social-media {
    margin-bottom: 10px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.modal, .modal1 {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixa o modal sobre a tela toda */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que sobreponha todo o conteúdo */
}

.modal-content, .modal-content1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.modal-content1 h1, .modal-content2 h2 {
    line-height: 50px;
}
.form-group input {
    padding: 3%;
    border-radius: 20px;
}
.modal-content1 button {
    width: 150px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    padding: 3%;
    border-radius: 20px;
    margin: 3%;
    cursor: pointer;
}
#closeRegisterModal, #closeModalButton2 {
    background-color: red;
}

.modal-content input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.modal-content button, .modal-content2 button {
    padding: 10px 15px;
    margin: 5%;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}
.modal-content button:hover {
    background-color: red;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.modal2 {
    display: none; /* Começa como "none" */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
#analysisForm {
    text-align: justify;
}
.pun {
    color: red;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
}

.nome {
    color: red;
    text-align: center;
    line-height: 30px;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}
.perfil {
    text-align: center;
    font-size: 15px;
    color: blue;
    line-height: 20px;
}
.descricao {
    text-align: center;
    padding: 5%;
    border-radius: 45%;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}
.punicao {
    text-align: center;
    background-color: red;
    color: #fff;
    width: 130px;
    height: 30px;
    margin-left: 28%;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aumentarDiminuir 2s infinite ease-in-out;
}

@keyframes aumentarDiminuir {
    0% {
      transform: scale(1); /* Tamanho normal no início */
    }
    50% {
      transform: scale(1.2); /* Aumenta o tamanho no meio da animação */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho normal no final */
    }
}